*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    height: 882px;
    background-image: url("./img/gg.png");
   
    
}
header{
    width: 100vw;
    height: 55px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    background-color:#FFFAEF;
    

    
    
}
header a{
    text-decoration: none;
    color: #006450;
}
.box{
    margin-left: 26px;
    display: flex;
    justify-content: flex-start;
    gap: 42px;
    

    
}
.box1{
    display: flex;
    justify-content: center;
}
.box2{
    margin-right: 26px;
    display: flex;
    justify-content: flex-end;
    gap: 42px;
    
}

.shop2{
    display: flex;
    width: 1440px;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
    color: white;
    
}
.shop2 button{
    background-color: yellow;
    width: 201px;
    height: 64px;
    justify-content: flex-end;
}
#des{
    width: 1440px;
    height: 216px;
    background-color: #FFFAEF;
    margin-top:630px;
     color: #006450;
     text-align: center;
     padding-top: 100px;
}
.shower{
    width: 707.5px;
    height: 707.5px;
    background-image: url("./img/Frame\ \(1\).png");
    text-align: center;
    padding-top: 100px;
    color: white;
}
.shower button{
    background-color: #E1FF32;
    width: 683px;
    height: 60px;
    margin-top: 450px;
    margin-left: -27px;
}
