body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    position: relative;
    font-size: 4em;
    letter-spacing: 5px;
    border-bottom: 30px solid blue;
    line-height: 1.4;
    font-family: consolas;
    text-transform: uppercase;
    height: 30px;
    width: 400px;
    border: 5px; 
    background-color: rgba(91, 25, 25, 0.16);
    

}
.box::before{
    content: attr(box);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: blue;
    border-bottom: 30px solid blue;
    overflow: hidden;

    
    
    animation: bar 2s  linear infinite;
}
@keyframes bar{
 0%{ 
    width: 0;
}
100%{
    
    width: 100%;
}
}
 
header{
    margin: 0;
    padding: 0;
    
}

.img{
    filter: grayscale(100%);
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 5px;
    padding: 15px 25px;
    
}
.img:hover{
    filter: grayscale(0);
}
/* .img2{
   padding: 100px;
   margin: 100px;
}
.img2{
    width: 100%;
    opacity: 0;
    transition: 5s;
     margin-top: 30%;   
} */
/* .img2 :hover{
opacity: 1;
margin-top: 0%;
}   */