*{
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
    height: 5155px;
    background-color: rgb(3, 46, 66);
}
/* меню */

header{
    width: 1298px;
    height: 60px;
    display: flex;
    margin: 30px auto 0 auto;
}
header img{
    justify-content: flex-start;
}
nav{
    margin: 30px auto 0 auto ;
}
nav a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}
 
header button{ 
   justify-content: flex-end; 
   padding: 9px 15px 9px 15px; 
   color: white; 
   background-color: #018abe; 
   border-radius: 10px; 
} 
              /* Освновной контент */ 
  /* укрепление здоровья */ 
  .container{ 
     width: 1296px; 
     height: 600px; 
     background-image: url("../work/img/Logo.png"); 
     margin:30px auto 0 auto; 
     display: flex;
     align-items: center;
     justify-content: center;
  }  
.text{
    color: white;
    font-size: 24px;
    text-align: center;
}
.sianse{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}
.parent{
    color: white;
    
    
}
.div1{
    background-image: url("../work/img/img.png");
    width: 416px; 
    height: 540px; 
    margin-left: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.div2{
    background-image: url("../work/img/img2.png");
    width: 416px;
    height: 258px;
    margin-left: 752px;
    margin-top: -539px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.div3{
width: 416px;
height: 258px;
background-image: url("../work/img/img2.png");
margin-left: 752px;
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}
.div4{
    width: 416px;
    height: 258px;
    background-image: url("../work/img/img2.png");
    margin-left: 1192px;
    margin-top: -536px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.div5{
    width: 416px;
    height: 258px;
    background-image: url("../work/img/img2.png");
    margin-left: 1192px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}


.fedd{
    text-align: center;
    margin-top: 100px;
    color: white;
    
}
.feed1{
    width: 500px;
    height: 276px;
    background-image: url("../work/img/img3.png");
    margin-left: 92px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed2{
    width: 640px;
    height: 350px;
    background-image: url("../work/img/img3.png");
    margin-top: -340px;
    margin-left: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.feed3{
    width: 500px;
    height: 276px;
    background-image: url("../work/img/img3.png");
    margin-top: -330px;
    margin-left: 1328px;
    border-radius: 10px;
    padding: 20px;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed_nav{
    background-image: url("../work/img\ control.png");
    width: 124px;
    height: 16px;
    margin-top: 70px;
    margin-left: 898px;
}
.about{
    width: 389px;
    height: 59px;
    margin-top: 100px;
    margin-left: 870px;
    border-radius: 0 50px 0 50px;
    color: white;
}
.about_cont1{
    width: 466px;
    height: 234px;
    margin-top: 100px;
    margin-left: 350px;
    color: white;
   
    
    
}
.logo{
    width: 526px;
    height: 365px;
    margin-top: -300px;
    margin-left: 972px;
    border-radius: 10px;
}
.about_cont2{
    width: 466px;
    height: 366px;
    margin-top: 100px;
    margin-left: 1000px;
   color: white;
}
.logo2{
    width: 526px;
    height: 400px;
    margin-top: -420px;
    margin-left: 340px;
    border-radius: 10px;
}
.ptice{
    width: 518px;
    height: 59px;
    margin-top: 100px;
    margin-left: 850px;
    border-radius: 0 50px 0 50px;
    color: white;
}
.and{
  width: 526px;
  height: 396px;
  margin-top: 100px;
  margin-left: 972px;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 2;

}
.vid{
    width: 416px;
    height: 250px;
    margin-top: -370px;
    margin-left: 422px;
    border-radius: 0 50px 0 50px;
    color: white;
    line-height: 3;
}
.map{
    width: 856px;
    height: 604px;
    margin-top: 250px;
    margin-left: 312px;
    border-radius: 10px;
    background-color:black
}
.end{
    width: 392px;
    height: 290px;
    margin-top: -605px;
    margin-left: 1216px;
}
.end2{
    width: 302px;
    height: 34px;
    margin-top: -230px;
    margin-left: 1261px;
    color: white;
    line-height: 2;
}
main button{ 
    padding: 9px 15px 9px 15px; 
    color: blue; 
    background-color:white; 
    border-radius: 10px; 
    margin: 20px 0 0 0 ;
}
 .end3{
    width: 392px;
    height: 290px;
    margin-top: 220px;
    margin-left: 1216px;
 }
 .end4{
    width: 302px;
    height: 34px;
    margin-top: -240px;
    margin-left: 1261px;
    color: white;
    line-height: 2;
 }


    
 