*{
    margin: 0;
    padding: 0;
}
header{
    width: 1440px;
    height: 84px;
    display: flex;
    margin: 30px auto 0 auto;
    background-image: url("./img/logo.png");
    align-items: center;
  
}
header img{
    justify-content: flex-start;
    width: 197px;
    height: 29px;
   
}
nav{
    margin: 30px auto 0 auto ;
}
nav a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}
 
header button{ 
   justify-content: flex-end; 
   padding: 9px 15px 9px 15px; 
   color: white; 
   background-color: rgba(39, 86, 58, 1); 
   border-radius: 10px; 
   display: inline-flex;
   align-items: start;
}
.container{
    width: 1440px;
    height: 645px;
    background-image: url("./img/logo.png");
    margin:30px auto 0 auto; 
     display: flex;
     align-items: center;
     justify-content: center;
}
.text{
    color: white;
}